*.diff
*.patch
*.orig
*.rej

*~
.#*
*#

*.flt
*.gmo
*.info
*.la
*.lo
*.o
*.pyc
*.tmp

.deps
.libs

autom4te.cache
config.cache
config.h
config.intl
config.log
config.status
libtool
POTFILES
*-POTFILES

TAGS
TAGS.sub

.local.vimrc
.lvimrc

.gdbinit
.gdb_history

# ignore core files, but not java/net/protocol/core/
core
!core/

lost+found

# ignore ./contrib/gcc_update output
LAST_UPDATED
REVISION
gmp
gmp-4.3.2.tar.bz2
gmp-4.3.2/
isl
isl-0.14.tar.bz2
isl-0.14/
mpc
mpc-0.8.1.tar.gz
mpc-0.8.1/
mpfr
mpfr-2.4.2.tar.bz2
mpfr-2.4.2/
